<h1>Степура Анна, ИУ6-35Б</h1>
<h2>Вариант </h2>
<p>
 Дан массив чисел arr_1.
 Определить среднее арифметическое значение положительных элементов массива и поместить
его на место срединного элемента массива.
</p>
<%= form_with url: "/result", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
